

  <div class="row">
    <div class="col-lg-12  aboutschool text-center ">
      <h2 class="section-heading">ABOUT SCHOOL</h2>
        <hr class="star-light">
      </div>
  </div>

  <!-- <div class="row">
  <div class="col-md-12">
  The user interface (UI), in the industrial design field of human–computer interaction, is the space where interactions between humans and machines occur. The goal of this interaction is to allow effective operation and control of the machine from the human end, whilst the machine simultaneously feeds back information that aids the operators' decision-making process. Examples of this broad concept of user interfaces include the interactive aspects of computer operating system.The goal of this interaction is to allow effective operation and control of the machine from the human end, whilst the machine simultaneously feeds back information that aids the operators' decision-making process. Examples of this broad concept of user interfaces include the interactive aspects of computer operating system
  </div>

  </div> -->
   <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="dash-about-box" >
        <h4>school</h4>
        <p> The user interface (UI), in the industrial design field of human–computer interaction, is the space where interactions between humans and machines occur. The goal of this interaction is to allow effective operation and control of the machine from the human end, whilst the machine simultaneously feeds back information that aids the  </p>

        </div>
      </div>
       <div class="col-md-4 col-sm-6">
        <div class="dash-about-box" >
        <h4>Digital classrooms</h4>
        <p> The user interface (UI), in the industrial design field of human–computer interaction, is the space where interactions between humans and machines occur. The goal of this interaction is to allow effective operation and control of the machine from the human end, whilst the machine simultaneously feeds back information that aids the  </p>

        </div>
      </div>
       <div class="col-md-4 col-sm-6">
        <div class="dash-about-box" >
        <h4>cultural events</h4>
        <p> The user interface (UI), in the industrial design field of human–computer interaction, is the space where interactions between humans and machines occur. The goal of this interaction is to allow effective operation and control of the machine from the human end, whilst the machine simultaneously feeds back information that aids the  </p>

        </div>
      </div>
    </div><br>
     <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="dash-about-box" >
        <h4>labs</h4>

        <p> The user interface (UI), in the industrial design field of human–computer interaction, is the space where interactions between humans and machines occur. The goal of this interaction is to allow effective operation and control of the machine from the human end, whilst the machine simultaneously feeds back information that aids the  </p>

        </div>
      </div>
       <div class="col-md-4 col-sm-6">
        <div class="dash-about-box" >
        <h4>school environment</h4>
        <p> The user interface (UI), in the industrial design field of human–computer interaction, is the space where interactions between humans and machines occur. The goal of this interaction is to allow effective operation and control of the machine from the human end, whilst the machine simultaneously feeds back information that aids the  </p>

        </div>
      </div>
       <div class="col-md-4 col-sm-6">
        <div class="dash-about-box" >
        <h4>play ground</h4>
        <p> The user interface (UI), in the industrial design field of human–computer interaction, is the space where interactions between humans and machines occur. The goal of this interaction is to allow effective operation and control of the machine from the human end, whilst the machine simultaneously feeds back information that aids the  </p>

        </div>
      </div>
    </div>


  </div>