   <section class="main-slider">
        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="schl-carousel">
            
            <ol class="carousel-indicators">
                <li data-target="#schl-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#schl-carousel" data-slide-to="1"></li>
                <li data-target="#schl-carousel" data-slide-to="2"></li>
            </ol>
            
            <div class="carousel-inner">
                <div class="item slides active">
                    <div class="slide-1"></div>
                    <div class="text-slider">
                        <span>learn and build your life</span>
                        <h1>gain knowledge from <strong> school system</strong></h1>
                        <a href="/signup" class="btn btn-default registerbtn" role="button">Register</a>
                    </div>
                </div>
                <div class="item slides">
                    <div class="slide-2"></div>
                    <div class="text-slider">
                        <span>learn and build your life</span>
                        <h1>gain knowledge from <strong>school system</strong></h1>
                       
                        <a href="/signup" class="btn btn-default registerbtn" role="button">Register</a>
                       
                   
                    </div>
                </div>
                <div class="item slides">
                    <div class="slide-3"></div>
                    <div class="text-slider">
                        <span>learn and build your life</span>
                        <h1>gain knowledge from <strong>school system</strong></h1>
                        <a href="/signup" class="btn btn-default registerbtn" role="button">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="sch-feature-field">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="sch-section-title">
                        <h2>what <span>we do</span></h2>
                        <div class="sch-title-line">
                            <div class="sch-title-icon">
                                <i class="icofont icofont-education"></i>
                            </div>
                        </div>
                        <p>LSIMS uses a client-server architecture; the back-end service is based around Microsoft SQL Server with some business logic handled by a custom .NET Framework module. The client application is also built with .NET, and handles almost all of the data manipulation and reporting workload.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="sch-feature-box ">
                        <div class="sch-feature-icon">
                          <i class="fa fa-laptop fa-4x" aria-hidden="true"></i>
                        </div>
                        <h4>Design</h4>
                        <p>The client application is also built with .NET, and handles almost all of the data manipulation and reporting workload.</p>
                        <a class="btn btn-default read-btn-transparent" href="#" role="button">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="sch-feature-box">
                        <div class="sch-feature-icon">
                            <i class="fa fa-cogs fa-4x" aria-hidden="true"></i>
                        </div>
                        <h4>Development</h4>
                        <p> The client application is also built with .NET, and handles almost all of the data manipulation and reporting workload.</p>
                        <a class="btn btn-default read-btn-transparent" href="#" role="button">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="sch-feature-box">
                        <div class="sch-feature-icon">
                          <i class="fa fa-lock fa-4x" aria-hidden="true"></i>
                        </div>
                        <h4>Security</h4>
                        <p> The client application is also built with .NET, and handles almost all of the data manipulation and reporting workload.</p>
                        <a class="btn btn-default read-btn-transparent" href="#" role="button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <section class="getintouchsection">
  <div class="container getintouchcontainer">
    <div class="row getintouchrow" >
        <div class="col-md-8 columnone" style="">

            <div class="col-md-2 col-xs-3 getintouchicon"  style="">
            <i class="fa fa-graduation-cap fa-4x " aria-hidden="true"></i>
            </div>
            <div class="col-md-10 col-xs-9" style="">
            <p>he client application is also built with .NET, and handles almost all of the data manipulation and reporting workload.</p>
    
        
        </div> 
        </div>
        <div class="col-sm-4 columntwo" id="getintouch" >
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-xs-12" style="">
                <!--  <a class="btn btn-default btn-getintouch" href="#" role="button">GET IN TOUCH</a> -->
                    <div class="getintouch">
                           
                            <a href="/contact">get in touch</a>
                        </div>
        
                </div>
            </div>
        </div>
    </div>
  </div>
  <script>
    $('.carousel').carousel({
        interval: 5000 
    })
 </script>