<div class="breadcrumbbar">
  <ol class="breadcrumb breadbar">
    <li><a href="/classes">classes</a></li>
    <li><a href="/vieweditclass">viewclass</a></li>
           
  </ol>
</div>
	<div class="row " >
		<div class="col-lg-12 text-center">
		<h3 ><b>CLASS:1A</b></h3>
		</div>
	</div><br>
	
	<div class="row">
		<div class="col-lg-6 ">
			<div class="row">
				<div class="col-lg-3 col-lg-offset-3">

					<label>class teacher</label>
				</div>
				<div class="col-md-3">
					<select>
					  <option value="teacher">Rahul</option>
					  <option value="teacher">rohith</option>
					  <option value="teacher">Ranjith</option>
					  <option value="teacher">Ramesh</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-lg-6 ">
			<div class="row">
				<div class="col-lg-3 ">

					<label>No of Students</label>
				</div>
				<div class="col-sm-3">
					dhdshsdjf
				</div>
				<div class="col-sm-3">
					dhdshsdjf
				</div>
			</div>
		</div>
	</div><br><br>
	<div class="row">
		<div class="col-lg-6 ">
			<div class="row">
				<div class="col-lg-3 col-lg-offset-3">

					<label>syllabus</label>
				</div>
				<div class="col-md-3">
					<select>
					  <option value="syllabus">STATE</option>
					  <option value="syllabus">CBSE</option>
					  
					</select>
				</div>
			</div>
		</div>
		<div class="col-lg-6 ">
			<div class="row">
				<div class="col-lg-3 ">

					<label>Notice Board</label>
				</div>
				<!-- <div class="col-sm-3">
					dhdshsdjf
				</div>
				<div class="col-sm-3">
					dhdshsdjf
				</div> -->
			</div>
		</div>
	</div><br>
	<div class="row" >
		<div class="col-lg-6">
			<h4>Subjects</h4>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>sno</th>
						<th>subject</th>
						<th>teacher</th>
					</tr>
				</thead>
				<tbody>
					<!-- <tr ng-repeat="subjects in class">
						<td>{{subjects.sno}}</td>
						<td>{{subjects.subject}}</td>
						<td>{{subjects.teacher}}</td>
					</tr> -->
					<tr>
						<td>1</td>
						<td>Telugu</td>
						<td>krishna</td>
					</tr>

					<tr>
						<td>2</td>
						<td>Hindi</td>
						<td>sam</td>
					</tr>
					
					<tr>
						<td>3</td>
						<td>english</td>
						<td>mohan</td>
					</tr>
					
					<tr>
						<td>4</td>
						<td>maths</td>
						<td>rohith</td>
					</tr>
					
					<tr>
						<td>5</td>
						<td>science</td>
						<td>ranjith</td>
					</tr>
					
					<tr>
						<td>6</td>
						<td>social</td>
						<td>vinay</td>
					</tr>
				</tbody>	

			</table>
		</div>

		<div class="col-lg-6">
			<h4>Labs</h4>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>s.no</th>
						<th>lab</th>
						<th>teacher</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>physics</td>
						<td>krishna</td>
					</tr>
					<tr>
						<td>2</td>
						<td>chemistry</td>
						<td>sam</td>
					</tr>
					
					<tr>
						<td>3</td>
						<td>biology</td>
						<td>mohan</td>
					</tr>
					
					<tr>
						<td>4</td>
						<td>computers</td>
						<td>rohith</td>
					</tr>
					
					
					

		
			</tbody>
			</table>
</div>
</div>
<div class="row" >
	<div class="col-lg-6">
		<div class="row">
				<div class="col-lg-3 col-lg-offset-3">

					<label>Add subjects</label>
				</div>
				<div class="col-md-3">	
				<select id="sublist" multiple="multiple">
					<optgroup label="subjects">
						<option value="1">physics</option>
						<option value="2">chemistry</option>
						<option value="3">biology</option>
						<option value="4">geography</option>
					</optgroup>
				</select>
				</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="row">
				<div class="col-lg-3 col-lg-offset-3">

					<label>Add Labs</label>
				</div>
				<div class="col-md-3">	
				<select id="labslist" multiple="multiple">
					<optgroup label="labs">
						<option value="1">physics</option>
						<option value="2">chemistry</option>
						<option value="3">biology</option>
						<option value="4">geography</option>
					</optgroup>
				</select>
				</div>
		</div>
	</div>
</div><br>
<div class="row">
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-3 col-lg-offset-3">
				<label>Add students</label>
			</div>
			<div class="col-md-3">	
				<select id="studentslist" multiple="multiple">
					<optgroup label="students">
						<option value="1">mahesh</option>
						<option value="2">neelesh</option>
						<option value="3">ramesh</option>
						<option value="4">suresh</option>
					</optgroup>
				</select>
			</div>
		</div>
	</div>
</div><br>
<div class="row" >
	<div class="col-lg-6 col-lg-offset-3 text-center">
	<button type="reset" class="btn btn-default btn-sm">Reset</button>
	<button type="reset" class="btn btn-default btn-sm">submit</button>

	</div>
</div>

		</div>
	</div>

<script >
	$('#sublist').multiselect({enableClickbleOptGroups:true});
$('#labslist').multiselect({enableClickbleOptGroups:true});
$('#studentslist').multiselect({enableClickbleOptGroups:true});

</script>

