 <div class="header-top">	
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-md-offset-0 col-xs-6 col-xs-offset-3">
			 <p><i class="fa fa-phone" aria-hidden="true"></i> +91 8186869897</p>

			</div>
			<div class="col-md-2 col-md-offset-0 col-xs-6 col-xs-offset-3">
			 <p><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00AM-4:00PM</p>

			</div>
			<div class="col-md-2 col-md-offset-6 col-xs-6 col-xs-offset-3">
				<div class="header-social">
				 	<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                 	<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

				</div>

			</div>
		</div>
		</div>
	</div>