<!-- <div class="sidebar hidden-xs">

          <ul class=" sidelist nav nav-sidebar">
          
          <li class=><a href="/dashboard">Dashboard</a></li>
            <li><a href="/allclasses">Classes</a></li>
            <li><a href="/allteachers">Teachers</a></li>
            <li><a href="/allstudents">Students</a></li>
            <li><a href="/allsubjects">Subjects</a></li>
           
          </ul>
      
      
</div>
 -->
 
 <nav class="sidebar" role="navigation">
  
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#links">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>      
    <div class="collapse navbar-collapse" id="links">
      <ul class="sidelist nav nav-sidebar">
        <li class=><a href="/dashboard">Dashboard</a></li>
        <li><a href="/allclasses">Classes</a></li>
        <li><a href="/allteachers">Teachers</a></li>
        <li><a href="/allstudents">Students</a></li>
        <li><a href="/allsubjects">Subjects</a></li>
      </ul>
    </div>

</nav>

















